release/**/*.exe filter=lfs diff=lfs merge=lfs -text
release/**/*.dll filter=lfs diff=lfs merge=lfs -text
release/**/*.pak filter=lfs diff=lfs merge=lfs -text
release/**/*.dat filter=lfs diff=lfs merge=lfs -text
release/**/*.bin filter=lfs diff=lfs merge=lfs -text
release/**/*.json filter=lfs diff=lfs merge=lfs -text
release/**/*.asar filter=lfs diff=lfs merge=lfs -text
release/**/*.html filter=lfs diff=lfs merge=lfs -text
